Repository km-tr/worktree-link: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt -- --check
    clippy:
      glob: "*.{rs,toml}"
      run: cargo clippy --all-targets

docs: note macOS-only testing status in Platform Support
  README.md
Due: none

fix: use recursive glob and -D warnings in lefthook hooks
  lefthook.yml
Due: none

fix: clarify inline comment semantics and remove duplicate default note
  src/cli.rs
  src/config.rs
Due: fmt, clippy

feat: add wtl short alias via cargo-dist bin-aliases
  README.md
  dist-workspace.toml
Due: clippy

Implement worktree-link CLI tool (#1)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE
  README.md
  dist-workspace.toml
  lefthook.yml
  mise.toml
  src/cli.rs
  src/config.rs
  src/linker.rs
  src/main.rs
  src/walker.rs
Due: fmt, clippy

chore(dist): switch to separate homebrew-tap repository
  .github/workflows/release.yml
  README.md
  dist-workspace.toml
Due: clippy

chore(dist): switch to separate homebrew-tap repository (#2)
  .github/workflows/release.yml
  README.md
  dist-workspace.toml
Due: clippy

build: add dist profile with thin LTO for cargo-dist
  Cargo.toml
Due: clippy

build: add dist profile with thin LTO for cargo-dist (#3)
  Cargo.toml
Due: clippy

feat: integrate release-plz with git-cliff for automated changelog generation
  .github/workflows/release-plz.yml
  AGENTS.md
  CLAUDE.md
  release-plz.toml
Due: clippy

fix(ci): use PAT for release-plz tag creation
  .github/workflows/release-plz.yml
Due: none

fix(ci): rename release-plz token to GH_TOKEN
  .github/workflows/release-plz.yml
Due: none

docs: add Conventional Commits reference to AGENTS.md
  AGENTS.md
Due: none

docs: list all Conventional Commits types in AGENTS.md
  AGENTS.md
Due: none

docs: remove URL from AGENTS.md
  AGENTS.md
Due: none

feat: integrate release-plz with git-cliff for automated changelog generation (#4)
  .github/workflows/release-plz.yml
  AGENTS.md
  CLAUDE.md
  release-plz.toml
Due: clippy

fix(ci): use PAT for release-plz PR creation
  .github/workflows/release-plz.yml
Due: none

chore(ci): remove comments from release-plz workflow
  .github/workflows/release-plz.yml
Due: none

fix(ci): use PAT for release-plz PR creation (#5)
  .github/workflows/release-plz.yml
Due: none

feat: enable gitignore-aware walking with override support
  src/main.rs
  src/walker.rs
Due: fmt, clippy

test: verify .worktreelinks overrides .gitignore
  src/walker.rs
Due: fmt, clippy

test: verify --no-ignore disables gitignore filtering
  src/walker.rs
Due: fmt, clippy

feat: add --no-ignore flag to disable gitignore filtering
  src/cli.rs
  src/main.rs
Due: fmt, clippy

fix: enable .ignore file handling in WalkBuilder and improve gitignore test
  src/walker.rs
Due: fmt, clippy

docs: clarify PR content language requirement in AGENTS.md
  AGENTS.md
Due: none

fix: assert git init exit status in test helper
  src/walker.rs
Due: fmt, clippy

feat: respect .gitignore with .worktreelinks override (#7)
  AGENTS.md
  src/cli.rs
  src/main.rs
  src/walker.rs
Due: fmt, clippy

feat: add git module with main worktree auto-detection
  src/git.rs
  src/main.rs
Due: fmt, clippy

feat: replace positional args with --source/-s and --target/-t flags
  src/cli.rs
  src/main.rs
Due: fmt, clippy

test: add porcelain parser verification test
  src/git.rs
Due: fmt, clippy

docs: update usage examples for flag-based CLI
  README.md
Due: none

fix(ci): add git_only option to release-plz config for unpublished packages
  release-plz.toml
Due: clippy

fix(ci): add git_only option to release-plz config for unpublished packages (#9)
  release-plz.toml
Due: clippy

chore: release v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: clippy

test: improve parse_main_worktree test to directly exercise the function
  README.md
  src/git.rs
Due: fmt, clippy

chore: release v0.1.1 (#10)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: clippy

fix: use default_value for target and include stderr in git error
  src/cli.rs
  src/git.rs
  src/main.rs
Due: fmt, clippy

fix: detect main worktree from target directory instead of CWD
  src/git.rs
  src/main.rs
Due: fmt, clippy

feat: make source optional with --source/-s and --target/-t flags (#8)
  README.md
  src/cli.rs
  src/git.rs
  src/main.rs
Due: fmt, clippy

chore: release v0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: clippy
